.has-d-2-normal-bases-color {
  color: #fff;
}
.has-d-2-fire-immune-red-text-items-color {
  color: #ff4d4d;
}
.has-d-2-set-items-color {
  color: #0f0;
}
.has-d-2-magic-items-cold-immune-color {
  color: #6969ff;
}
.has-d-2-unique-items-physical-immune-color {
  color: #c7b377;
}
.has-d-2-gray-items-socket-ethereal-color {
  color: #797979;
}
.has-d-2-black-is-black-color {
  color: #000;
}
.has-d-2-character-names-and-speech-color {
  color: #d0c27d;
}
.has-d-2-magic-immune-runes-and-crafted-items-color {
  color: #ffa800;
}
.has-d-2-light-immune-color {
  color: #ffff64;
}
.has-d-2-grass-color {
  color: green;
}
.has-d-2-old-color-not-really-used-color {
  color: #ae00ff;
}
.has-d-2-poison-immune-color {
  color: #00c800;
}
.has-d-2-str-brown-color {
  color: #a55806;
}
.item-value {
  a {
    color: #007fac;
  }
}
