$opacity: 0.3;
$colorRune: #ffa800;
$colorUnique: #c7b377;
$colorRare: #ffff64;
$colorMagic: #6969ff;
$colorNormal: #ffffff;
$colorRequirement: #ff4d4d;
$colorSet: #0f0;
$colorHigh: $colorUnique;
$colorMed: $colorRare;
$colorLow: $colorMagic;
$colorNone: $colorNormal;
$colorTrash: $colorRequirement;
$colorPrimary: $colorUnique;
$colorText: #eee;
$colorTextDimmed: rgba($colorText, $opacity);
$colorBgPrimary: #181818;
$colorBgSecondary: #1c1c1c;
$colorBorder: #242424;
$heightHeader: 40px;
$heightTD: 40px;
$border: 1px solid $colorBorder;
$borderInput: 1px solid $colorUnique;

$fontFamily: Diablo;

@font-face {
  font-family: $fontFamily;
  src: url(ExocetBlizzardMixedCaps-Medium.woff2);
}
