*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #181818;
  color: #eee;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 10px;
  background-color: #181818;

  button {
    padding: 0;
    border: none;
    background: none;
    font-size: 20px;
    line-height: 1;
  }
}

input {
  width: 100%;
  height: 40px;
  padding: 10px;
}

table {
  border-collapse: collapse;
  border: 1px solid #242424;

  th {
    padding: 10px;
    border: 1px solid #242424;
    background-color: #1c1c1c;
    text-align: left;

    &:first-child {
      width: 100%;
    }
  }

  td {
    padding: 10px;
    border: 1px solid #242424;
  }
}

.rune {
  color: #ffa800;
}

.unique {
  color: #c7b377;
}

.set {
  color: #0f0;
}
